name: Playground

on:
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: action/checkout@v4
        
      - name: Start SSH
        uses: mxschmitt/action-tmate@v3